/* CSS Document */
/*************************/
/* -----------------------------------------------/* PROJECT-TORPEDO.CSS */------------------------------------------------------- */


/*Webkits für verschiedene Browser*/
@-webkit-viewport{width:device-width}
@-moz-viewport{width:device-width}
@-ms-viewport{width:device-width}
@-o-viewport{width:device-width}
@viewport{width:device-width}

/* Default als Startwerte*/
*
{
	padding:0px;
	margin:0px;
}

/*Mindestgröße 0PX*/
@media (min-width: 0px) {
	
/*Logo nach links */
header img 
{
	max-width: 100%;
	max-height: 100%;
	width: 300px;
	position: relative;
	padding-top: 5px;
	display: block;
	
	margin-left: auto;
	margin-right: auto;
}

/* typewriter off */
	.typewriter h1 {
		display: none;
		
	}
}


/* Special Queries unter 480PX*/
@media (max-width: 599px) {
	
	body
	{
		
	}
	
	/*GRID 1er*/
    .raster {
    display: grid;
    grid-template-columns: auto;
    grid: repeat (1, 1fr);
    grid-gap: 50px;
    padding: 5px 5px 0px 5px;
    margin: 5px 5px 0px 5px;
}
	
	
	main {
		font-size: 0.8em;
	}
	
	
}
/*Mindestgröße 600PX*/
@media (min-width: 600px) {

	/*GRID 2er*/
    .raster {
    display: grid;
    grid-template-columns: auto auto;
    grid: repeat (2, 1fr);
    grid-gap: 50px;
    padding: 5px 5px 0px 5px;
    margin: 5px 5px 0px 5px;
}
	
	
	/*Registrierung im Nav*/
	#newregister_form{
		float: right;
		padding: 4px;
		text-align: center;
		background-color: white;
		margin: 4px;
		border: 1px solid lightgray;
	}
	#registerBtn {
		margin: 2px;
	}
}

/*ab hier alles bis Min-Größe900PX*/
@media (min-width: 900px) {
	
	body
	{
		
	}
	/*GRID 3er*/
	.raster {
    display: grid;
    grid-template-columns: auto auto auto;
    grid: repeat (3, 1fr);
    grid-gap: 50px;
    padding: 5px 5px 0px 5px;
    margin: 5px 5px 0px 5px;
}
	
	main {
		font-size: 0.85em;
	}
	
	
	
	
}


/*Mindestgröße 1200PX*/
@media (min-width: 1200px) {
	
	/*GRID 4er*/
    .raster {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid: repeat (4, 1fr);
    grid-gap: 5px;
    padding: 5px 5px 0px 5px;
    margin: 5px 5px 0px 5px;
}

	
	

/*Login und Suche "öffnen"*/
#search_form {
		float: right;
		padding: 19px;
		position:right;
	}
	#searchBtn { 
	    width: 55px;
		height: 20px;
		font-size: 0.9em;
		
	}
	#searchTB {
		width: 105px;
	
	}
	#login_form {
		float:right;
		padding: 0px;
		padding-right:10px;
		margin-top:5px;
		border: 1px solid lightgray;
		background-color: white;
	}
	#userTB {
		width: 100px;
		
		
		margin: 1px;
	}
	#passwordTB {
		width: 100px;
		margin: 2px;
		margin-left: 7px;		
		
	}
	label {
		max-width: 35px;
		margin: 2px;	
	}
	#loginBtn {
		width: 250px:
		position: right;
	}

}

/*Mindestgröße 1600PX #Desktop*/
@media (min-width: 1600px) {


header img
	{
		position: absolute;
		
		
	}


/*TYPING EFFECT*/

.typewriter h1 {
	display: block;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid transparent; /* The typwriter cursor */
 
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  animation: 
    typing 3s steps(45, end),
    blink-caret .75s steps(10, end) 4;
	
	animation-duration: ;
	font-size:50px;
	
	padding-top: 60px;
}
/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: darkred }
  75% { border-color: transparent; } 
}

header .typewriter {
	background-color: white;
	
	
	
}



}
/* ----------------------------------------------- ALLGEMEINES,  ------------------------------------------------------- */
/* -----------------------------------Functionalities für alle Geräte ------------------------------------------------------------------- */




/*Slideshow */
#gallery {
    position: relative;
	max-width:600px;
	
}
#gallery figure {
    position: absolute;
	max-width: 100%;
	height: 450px;
}
#gallery figure img {
	position: relative;
	max-width: 100%;
}
#gallery figure:last-of-type {
    position: relative;
}

/* Slideshow - Animation*/
#gallery figure {
  animation: wechseln 15s infinite;
    position: 
}
@keyframes wechseln {
    0% {opacity: 0;}
    20% {opacity: 1;}
    40% {opacity: 1;}
    60% {opacity: 0;}
    100% {opacity: 0;}
}
#gallery figure:nth-of-type(2) {
    animation-delay: 5s;
    opacity: 0;
}
#gallery figure:nth-of-type(3) {
    animation-delay: 10s;
    opacity: 0;
}
#articlegallery {
    text-align:center;
}
#gallery {
    margin-left: auto;
    margin-right: auto;
}



   body {}
   main  {}
   
/* GRID ALLGEMEIN INHALT DER KACHEL */
.article_raster {
	 border: 1px solid darkred;
	 height: inherit;
	 width: inherit;
	
}


	
header
{
	height: 135px;
	
}




/* Navigation oben */
nav {
	max-height:55px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: red;
	max-height: inherit;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 12px;
    text-decoration: none;
	border: 2px solid darkred;
}

nav li a:hover {
    background-color: black;
}
 nav li a:active {
    background-color: greenyellow;
    }

	
	
	
	
/* Links */

a {
    text-decoration: none;
    color: #6D0839;
}

html 
{
	
    font-family: fontawesome;
    font-size: 0.9em;
    color: black;
	
}
head
body 
{
	margin: 5px;
	padding: 5px;
	

}
 
main
{
	padding: 3px;
	margin: 3px;
	background-color: white;
	
}
article
p
{
	padding: 2px;
	margin: 2px;

}
section


h2,h3,h4,h5,h6 {
    font-family: "Arial", sans;
    letter-spacing: 1px;
	padding: 3px;
	margin: 3px;
}
h1 {
	
	text-align: left;
	padding-left: 375px;
	color: #870b03;
	position: relative; bottom: 20px;
}

/* img, media, stuff */
img 
{
	
}

iframe



/* Links */
above


/* Sosntiges */
address

/* Tabellen */
table 

/*h2,h3, ... */



/*HEADER/Navigation/FOOTER*/


/* Footer */
aside footer ul{
	max-height:55px;
	width: 100%;
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
	background-color: red;
}

footer li {
    float: right;
}

footer li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	background-color: red;
	border: 2px solid darkred;
	
}

footer li a:hover {
    background-color: black;
}

footer li a:active {
    background-color: greenyellow;
   
   }






	
	

